doctype html
html
  head
    title 出账
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/semantic.min.css')
  body
    block content
    script(src='/javascripts/jquery.min.js',type="text/javascript")
    script(src='/javascripts/semantic.min.js',type="text/javascript")
    script(src='/javascripts/index.js',type="text/javascript")
